@import url(__title/place__title.css);
@import url(__image/place__image.css);
@import url(__website/place__website.css);
@import url(__paragraph/place__paragraph.css);
@import url(__paragraph-wrapper/place__paragraph-wrapper.css);

.place {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 
        "title website"
        "image paragraph";
    row-gap: 48px;
    column-gap: 40px;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media (max-width: 320px) {
    .place {
        grid-template-columns: auto;
        grid-template-areas: 
            "title"
            "website"
            "image"
            "paragraph";
        row-gap: 32px;
    }
}