@import url(__copyright/footer__copyright.css);

.footer {
    display: flex;
    gap: 18px;
    width: 100%;
}

@media (max-width: 320px) {
    .footer {
        flex-direction: column;
        gap: 32px;
    }
}