.body__photo-grid {
    margin-top: 92px;
}

@media (max-width: 768px) {
    .body__photo-grid {
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .body__photo-grid {
        margin-top: 64px;
    }
}